body {
  background: #121312;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: whitesmoke;
}
.image {
  width: 95%;
  max-width: 800px;
  height: auto;
  border-radius: 10px;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider p {
  font-size: 1rem;
  font-weight: 700;
}
.arrow-left {
  position: absolute;
  top: 90%;
  left: 50px;
  font-size: 5rem;
  z-index: 20;
  cursor: pointer;
}
.arrow-right {
  position: absolute;
  top: 90%;
  right: 50px;
  font-size: 5rem;
  z-index: 20;
  cursor: pointer;
}
.arrow-left:hover {
  z-index: 10;
  overflow: hidden;
  filter: brightness(110%);
  transition: 0.2s ease-in;
  transform: scale(1.1);
}
.arrow-right:hover {
  z-index: 10;
  overflow: hidden;
  filter: brightness(110%);
  transition: 0.2s ease-in;
  transform: scale(1.1);
}
.single {
  opacity: 0;
  transition: 3.5s ease;
}
.single.active {
  opacity: 1;
  transform: scale(1.08);
  transition-duration: 1s;
}